*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
}
header{
	position: fixed;
	width: 1365px;
	z-index: 1000;
	background-color: #433134;
	box-shadow: 0 1px 6px 0 rgb(32 33 36 / 10%);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 14%;
	transition: all .50s ease;
}
.name{
	position: relative;
	width: 1365px;
	height: 80px;
}
.name h1{
	font-size: 80px;
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	margin-left: 150px;
	margin-top: -20px;
	color: #F8F2F4;
}
.navbar{
	display: flex;
	margin-left: 250px;
	margin-top: 70px;
	position: absolute;
}
.navbar li a{
	color: #F8F2F4;
	font-size: 15px;
	font-weight: 500;
	margin: 20px;
	transition: all .50s ease;
}
.navbar a:hover{
	color: #cecece;
}
.home-background{
	position: relative;
	width: 1365px;
	height: 700px;
	background-color: #F8F2F4;
}
.home-background img{
	width:auto;
	height: 600px;
	padding:0%;
	position:absolute;
	margin-top: 110px;
	margin-left: -50px;
}
.home-background a{
	margin-top: 545px;
	color:#433134;
	position: absolute;
	font-size: 40px;
	border-style:solid ;
	border-color: #433134;
	margin-left: 765px;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
}
.home-background a:hover{
	color:rgb(197, 0, 0);
}
.isa img{
	width:auto;
	height: 580px;
	padding:0%;
	position:absolute;
	margin-top: 120px;
	margin-left: 100px;
}

.home-background p{
	font-family: 'Times New Roman', Times, serif;
	color: #433134;
	margin-top: 120px;
	position: absolute;
	font-size: 90px;
	width: 55%;
	text-align: center;
	margin-left: 500px;
}
.design{
	width: 1365px;
	height: 550px;
	background-color: #cecece;
	background-repeat: no-repeat;
	background-size: 1365px;
	background-attachment:scroll;
	position: relative;
}
.design h1{
	position: absolute;
	font-weight: 700;
	color: #F8F2F4;
	font-size: 50px;
	background-color: #433134;
	margin-top: 40px;
	margin-left:500px;
}
.banner{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(900px, auto));
	gap: .5rem;
	position: relative;
}
.banner-img{
	overflow: hidden;
}
.banner-img1 img{
	position: absolute;
	width: 20%;
	display: inline;
	transition: transform 0.5s;
	cursor: pointer;
	margin-top: 150px;
	margin-left: 50px;
	border-style: solid;
	border-color: #433134;
	position: absolute;
}
.banner-img1:hover img{
	transform: scale(1.1);
}

.banner-img2 img{
	width: 20%;
	display: inline;
	transition: transform 0.5s;
	cursor: pointer;
	margin-top: 150px;
	margin-left: 370px;
	border-style: solid;
	border-color: #433134;
	position: absolute;
}
.banner-img2:hover img{
	transform: scale(1.1);
}
.banner-img3 img{
	width: 20%;
	display: inline;
	transition: transform 0.5s;
	cursor: pointer;
	margin-top: 150px;
	margin-left: 690px;
	border-style: solid;
	border-color: #433134;
	position: absolute;
}
.banner-img3:hover img{
	transform: scale(1.1);
}
.banner-img4 img{
	width: 20%;
	display: inline;
	transition: transform 0.5s;
	cursor: pointer;
	margin-top: 150px;
	margin-left: 1010px;
	border-style: solid;
	border-color: #433134;
	position: absolute;
}
.banner-img4:hover img{
	transform: scale(1.1);
}
.top{
	width: 1365px;
	height: 1300px;
	background-color: #F8F2F4;
	background-repeat: no-repeat;
	background-size: 1365px;
	background-attachment:scroll;
	position: relative;
}
.top h1{
	position: absolute;
	font-weight: 700;
	color: #F8F2F4;
	font-size: 50px;
	background-color: #433134;
	margin-top: 40px;
	margin-left:500px;
}
.img1 img{
	width: 30%;
	display: block;
	transition: transform 0.5s;
	cursor: pointer;
	position: absolute;
	margin-top: 140px;
	margin-left: 150px;
}
.img1 h2{
	font-family: 'Times New Roman', Times, serif;
	margin-top: 550px;
	position: absolute;
	font-size: 18px;
	font-weight: 100;
	margin-left: 150px;
	color: #433134;
}
.img1 p{
	font-size: 30px;
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	color: #433134;
	font-weight:700 ;
	margin-top: 570px;
	margin-left: 150px;
}
.add a img{
	width: 50px;
	position: absolute;
	margin-top: 550px;
	margin-left: 440px;
}
.add a:hover img{
	transform: scale(1.1);
}
.buy a img{
	width: 55px;
	position: absolute;
	margin-top: 553px;
	margin-left: 500px;
}
.buy a:hover img{
	transform: scale(1.1);
}
.img2 img{
	width: 30%;
	display: block;
	transition: transform 0.5s;
	cursor: pointer;
	position: absolute;
	margin-top: 140px;
	margin-left: 800px;
}
.img2 h2{
	font-family: 'Times New Roman', Times, serif;
	margin-top: 550px;
	position: absolute;
	font-size: 18px;
	font-weight: 100;
	margin-left: 800px;
	color: #433134;
}
.img2 p{
	font-size: 30px;
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	color: #433134;
	font-weight:700 ;
	margin-top: 570px;
	margin-left: 800px;
}
.add1 a img{
	width: 50px;
	position: absolute;
	margin-top: 550px;
	margin-left: 1100px;
}
.add1 a:hover img{
	transform: scale(1.1);
}
.buy1 a img{
	width: 55px;
	position: absolute;
	margin-top: 553px;
	margin-left: 1160px;
}
.buy1 a:hover img{
	transform: scale(1.1);
}
.img3 img{
	width: 30%;
	display: block;
	transition: transform 0.5s;
	cursor: pointer;
	position: absolute;
	margin-top: 700px;
	margin-left: 150px;
}
.img3 h2{
	font-family: 'Times New Roman', Times, serif;
	margin-top: 1110px;
	position: absolute;
	font-size: 18px;
	font-weight: 100;
	margin-left: 150px;
	color: #433134;
}
.img3 p{
	font-size: 30px;
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	color: #433134;
	font-weight:700 ;
	margin-top: 1125px;
	margin-left: 150px;
}
.add2 a img{
	width: 50px;
	position: absolute;
	margin-top: 1115px;
	margin-left: 440px;
}
.add2 a:hover img{
	transform: scale(1.1);
}
.buy2 a img{
	width: 55px;
	position: absolute;
	margin-top: 1115px;
	margin-left: 500px;
}
.buy2 a:hover img{
	transform: scale(1.1);
}
.img4 img{
	width: 30%;
	display: block;
	transition: transform 0.5s;
	cursor: pointer;
	position: absolute;
	margin-top: 700px;
	margin-left: 800px;
}
.img4 h2{
	font-family: 'Times New Roman', Times, serif;
	margin-top: 1110px;
	position: absolute;
	font-size: 18px;
	font-weight: 100;
	margin-left: 800px;
	color: #433134;
}
.img4 p{
	font-size: 30px;
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	color: #433134;
	font-weight:700 ;
	margin-top: 1125px;
	margin-left: 800px;
}
.add3 a img{
	width: 50px;
	position: absolute;
	margin-top: 1115px;
	margin-left: 1100px;
}
.add3 a:hover img{
	transform: scale(1.1);
}
.buy3 a img{
	width: 55px;
	position: absolute;
	margin-top: 1115px;
	margin-left: 1160px;
}
.buy3 a:hover img{
	transform: scale(1.1);
}
.about{
	width: 1365px;
	height: 200px;
	background-color: #F8F2F4;
	position: relative;
}
.about h1{
	color:#433134;
	font-size: 30px;
	font-weight:700;
	position: absolute;
	margin-left: 50px;
	margin-top: 30px;
}
.about p{
	font-size: 17px;
	color: #433134;
	font-family: 'Times New Roman', Times, serif;
	margin-left: 50px;
	margin-right: 50px;
	text-align: justify;
	margin-top: 70px;
}
.contacts{
	width: 1365px;
	height: 400px;
	background-color: #433134;
	position: relative;
}
.contacts h1{
	font-size: 12px;
	font-family:Arial, Helvetica, sans-serif;
	margin-top: 80px;
	margin-left: 100px;
	color: #F8F2F4;
	position: absolute;
	font-weight: 100;
}
.contacts h2{
	font-size: 12px;
	font-family:Arial, Helvetica, sans-serif;
	margin-top: 110px;
	margin-left: 100px;
	color: #F8F2F4;
	position: absolute;
	font-weight: 100;
}
.contacts h3{
	font-size: 12px;
	font-family:Arial, Helvetica, sans-serif;
	margin-top: 140px;
	margin-left: 100px;
	color: #F8F2F4;
	position: absolute;
	font-weight: 100;
}
.contacts h4{
	font-size: 12px;
	font-family:Arial, Helvetica, sans-serif;
	margin-top: 170px;
	margin-left: 100px;
	color: #F8F2F4;
	position: absolute;
	font-weight: 100;
}
.faq h1{
	font-size: 12px;
	font-family:Arial, Helvetica, sans-serif;
	margin-top: 80px;
	margin-left: 600px;
	color: #F8F2F4;
	position: absolute;
	font-weight: 100;
}
.faq h2{
	font-size: 12px;
	font-family:Arial, Helvetica, sans-serif;
	margin-top: 110px;
	margin-left: 600px;
	color: #F8F2F4;
	position: absolute;
	font-weight: 100;
}
.faq h3{
	font-size: 12px;
	font-family:Arial, Helvetica, sans-serif;
	margin-top: 140px;
	margin-left: 600px;
	color: #F8F2F4;
	position: absolute;
	font-weight: 100;
}
.faq h4{
	font-size: 12px;
	font-family:Arial, Helvetica, sans-serif;
	margin-top: 170px;
	margin-left: 600px;
	color: #F8F2F4;
	position: absolute;
	font-weight: 100;
}
.all h1{
	font-size: 16px;
	font-family:Arial, Helvetica, sans-serif;
	margin-top: 350px;
	margin-left: 100px;
	color: #F8F2F4;
	position: absolute;
	font-weight: 100;
}
.all a{
	color: #F8F2F4;

}
@media only screen and (max-width: 768px) {
	[class*="home-background"] {
	  width: 100%;
	  background-color: #F8F2F4;
	}
	[class*="name"] {
		width: 50%;
		height: 170px;
		text-align: center;
		margin-left: -150px;
	  }
	[class*="navbar"] {
	  	width: 100%;
	  	margin-top: 160px;
		margin-left: 140px;
	}
	.home-background img{
		width: 50%;
		height: fit-content;
		margin-top: 220px;
		margin-left: -70px;
	}
	.home-background p{
		width: 60%;
		height: fit-content;
		margin-top: 240px;
		margin-left: 200px;
		font-size: 50px;
	}
	.home-background a{
		width: 35%;
		margin-top: 550px;
		margin-left: 270px;
		color:#433134;
		position: absolute;
		font-size: 30px;
		border-style:solid ;
		border-color: #433134;
		font-family: 'Montserrat', sans-serif;
		font-weight:700;
	}
	.isa img{
		width: 50%;
		height: fit-content;
		margin-top: 220px;
		margin-left: 20px;
	}
	[class*="design"] {
		width: 100%;
  	}
	.design h1{
		font-size: 30px;
		width: 35%;
		position: absolute;
		margin-left:190px;
	}
	.banner-img1 img{
		width: 25%;
		margin-left: 90px;
	}
	.banner-img2 img{
		width: 25%;
		margin-left: 300px;
	}
	.banner-img3 img{
		width: 25%;
		margin-left: 90px;
		margin-top: 350px;
	}
	.banner-img4 img{
		width: 25%;
		margin-left: 300px;
		margin-top: 350px;
	}
	[class*="top"] {
		width: 100%;
  	}
	.top h1{
		font-size: 30px;
		width: 43%;
		position: absolute;
		margin-left:160px;
	}
	.img1 img{
		width: 25%;
		margin-left: 50px;
	}
	.add a img{
		width: 3%;
		margin-left: 140px;
		margin-top: 280px;
	}
	.buy a img{
		width: 4%;
		margin-left: 170px;
		margin-top: 280px;
	}
	.img1 h2{
		margin-left: 50px;
		font-size: 10px;
		width: 100%;
		margin-top: 280px;
	}
	.img1 p{
		margin-left: 50px;
		font-size: 15px;
		width: 100%;
		margin-top: 290px;
	}
	
	.img2 img{
		width: 25%;
		margin-left: 320px;
	}
	.add1 a img{
		width: 3%;
		margin-left: 410px;
		margin-top: 280px;
	}
	.buy1 a img{
		width: 4%;
		margin-left: 440px;
		margin-top: 280px;
	}
	.img2 h2{
		margin-left: 320px;
		font-size: 10px;
		width: 100%;
		margin-top: 280px;
	}
	.img2 p{
		margin-left: 320px;
		font-size: 15px;
		width: 100%;
		margin-top: 290px;
	}
	
	.img3 img{
		width: 25%;
		margin-left: 50px;
		margin-top: 350px;
	}
	.add2 a img{
		width: 3%;
		margin-left: 140px;
		margin-top: 490px;
	}
	.buy2 a img{
		width: 4%;
		margin-left: 170px;
		margin-top: 490px;
	}
	.img3 h2{
		margin-left: 50px;
		font-size: 10px;
		width: 100%;
		margin-top: 490px;
	}
	.img3 p{
		margin-left: 50px;
		font-size: 15px;
		width: 100%;
		margin-top: 500px;
	}
	
	.img4 img{
		width: 25%;
		margin-left: 320px;
		margin-top: 350px;
	}
	.add3 a img{
		width: 3%;
		margin-left: 410px;
		margin-top: 490px;
	}
	.buy3 a img{
		width: 4%;
		margin-left: 440px;
		margin-top: 490px;
	}
	.img4 h2{
		margin-left: 320px;
		font-size: 10px;
		width: 100%;
		margin-top: 490px;
	}
	.img4 p{
		margin-left: 320px;
		font-size: 15px;
		width: 100%;
		margin-top: 500px;
	}
  }
.icons{
	flex-basis:35%;
	min-width: 50px;
	margin-bottom: 10px;
	float: left;
	width: 25%;
	margin-top: 60px;
	margin-left: 50px;
	margin-right: 50px;
	position: relative;
}
.icons1 img{
	width: 13%;
	position: absolute;
	margin-left: 900px;
}
.icons2 img{
	width: 15%;
	position: absolute;
	margin-left: 960px;
}
.icons3 img{
	width: 13%;
	position: absolute;
	margin-left: 1030px;
}
.icons1 img:hover{
	transform: scale(1.1);
}
.icons2 img:hover{
	transform: scale(1.1);
}
.icons3 img:hover{
	transform: scale(1.1);
}